


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/*  Main Navigation Bar */
.main-navbar {
    background-color:#002fa7;
    font-weight: bold;
    font-size: 14pt;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.main-navbar a {
    color:white;
    float: left;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
}

.main-navbar a:hover {
    background-color: green;
    color: orange;
    animation-delay: 0.4s;
}



/* Style the main-header */
.main-header {
    background-color: #f1f1f1;
    color:#002fa7;
    padding-top: 49px;
    text-align: center;
    overflow: hidden;
}

.main-header img {
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    max-height: 640px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    animation: fadeIn 2s;
}

@keyframes fadeIn{
    0%  { 
        opacity: 0.25; 
        width: 25%;
        height: 50%;
    }
    100%    { 
        opacity: 1; 
        width: 100%;
        height: 100%;
    }
}










.main-body {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}



/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 20%;
}

/* Middle column */
.column.middle {
    width: 75%;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
    width: 100%;
    }
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}


