#   .gitignore for ChinesePhDForumIRE-2023.github.io

#   Ignore all
*
!*/


#   Add git files
!.gitignore
!.gitattributes

#   Add HTML/CSS files
!*.html
!*.css



#   Add image files

!*.jpg
!*.jpeg
!*.png


#   Add template files
!*.doc
!*.docx